VITE_FIREBASE_API_KEY="AIzaSyAWdZNtXGHbkP-dVDyRjxai3qCSw3E1xhI"
VITE_FIREBASE_AUTH_DOMAIN="hackhub-dd041.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="hackhub-dd041"
VITE_FIREBASE_STORAGE_BUCKET="hackhub-dd041.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1077239409414"
VITE_FIREBASE_APP_ID="1:1077239409414:web:579554ca5e050934dd0c87"

VITE_GEMINI_API_KEY="AIzaSyBkBSPbngiATaJG_k61Z5eHxSw1EaCLDOw"
VITE_GOOGLE_MAPS_API_KEY="AIzaSyDk7m9J_DVsQAUe6KsOLUOT9oTJ-XPuakA"
